<!DOCTYPE html>
<html>
<head>
    <title>CoC Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div id="home">
        <header>
            <img src="{{ url_for('static', filename='coc_bot_logo.png') }}" alt="CoC Bot">
            <h1 class="themed_text">CoC Bot</h1>
        </header>

        <div class="container">
            <form method="POST" class="custom-input-form">
                <input type="text" name="id" placeholder="ID" required title="Instance ID" autofocus>
                <button type="submit" name="id"><i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>

    <div id="control" style="display: none;">
        <header>
            <a href="/" style="text-decoration:none; color:inherit;">
                <div class="instance_tag">
                    <strong class="instance_id" id="instance_id">{{ id }}</strong>
                </div>
            </a>

            <img src="{{ url_for('static', filename='coc_bot_logo.png') }}" alt="CoC Bot">
            <h1 class="themed_text">CoC Bot</h1>
        </header>

        <div class="container">

            <div style="margin-bottom:15px;">
                <p>
                    <span class="themed_padding" id="left_padding"></span><!--
                --><strong class="themed_text" id="countdown_title"></strong><!--
                --><span class="themed_text" id="countdown_time"></span><!--
                --><span class="themed_padding" id="right_padding">.</span>
                </p>
                <strong class="themed_text" id="run_status" style="font-size:1em; padding:0;"></strong>
            </div>

            <form method="POST" class="stacked-buttons">
                <button type="submit" name="time" value="5">5 min</button>
                <button type="submit" name="time" value="15">15 min</button>
                <button type="submit" name="time" value="30">30 min</button>
            </form>

            <form method="POST" class="custom-input-form">
                <input type="text" name="custom_time" placeholder="Custom" min="1" required title="Minutes">
                <button type="submit" name="custom_time"><i class="fas fa-arrow-right"></i></button>
            </form>

            <form method="POST" class="cancel-button">
                <button type="submit" name="time" value="0">Cancel</button>
            </form>

            <!-- <div id="notifications" class="notifications" style="margin-top:30px;">
                <h1 class="notifications_title">Recent Notifications</h1>
            </div> -->

            <div id="exclusions" class="exclusions" style="margin-top:30px;">
                <h1 class="exclusions_title">Task Settings</h1>
                <form method="POST" class="exclusions-form"></form>
            </div>

            <form method="POST" class="cancel-button" style="margin-top:30px;">
                <button type="submit" name="shutdown">Shutdown</button>
            </form>
        </div>
    </div>

    <script>
        let id = "{{ id }}";
        let start = Date.now();
        let current_time = {{ current_time }};
        let end_time = {{ end_time }};
        let run_status = {{ run_status | tojson }};
        let exclusions = {{ exclusions | tojson }};
        const web_app_url = "{{ web_app_url }}";
        const time_labels = ['d', 'h', 'm', 's'];

        const exclusion_options = new Map()
        // Home Base
        exclusion_options.set("Home Base Priority", ["Will upgrade according to priority", "Will upgrade randomly"]);
        exclusion_options.set("Home Base", ["Home base building upgrades ENABLED", "Home base building upgrades DISABLED"]);
        exclusion_options.set("Heroes", ["Hero upgrades ENABLED", "Hero upgrades DISABLED"]);
        exclusion_options.set("Builder Apprentice", ["Builder apprentice assignment ENABLED", "Builder apprentice assignment DISABLED"]);
        exclusion_options.set("Home Lab Priority", ["Will upgrade according to priority", "Will upgrade randomly"]);
        exclusion_options.set("Home Lab", ["Home lab upgrades ENABLED", "Home lab upgrades DISABLED"]);
        exclusion_options.set("Lab Assistant", ["Lab assistant assignment ENABLED", "Lab assistant assignment DISABLED"]);
        // Builder Base
        exclusion_options.set("Builder Base Priority", ["Will upgrade according to priority", "Will upgrade randomly"]);
        exclusion_options.set("Builder Base", ["Builder base building upgrades ENABLED", "Builder base building upgrades DISABLED"]);
        exclusion_options.set("Builder Lab Priority", ["Will upgrade according to priority", "Will upgrade randomly"]);
        exclusion_options.set("Builder Lab", ["Builder lab upgrades ENABLED", "Builder lab upgrades DISABLED"]);
        exclusion_options.set("Home Attacks", ["Home attacks ENABLED", "Home attacks DISABLED"]);
        exclusion_options.set("Builder Attacks", ["Builder attacks ENABLED", "Builder attacks DISABLED"]);

        async function fetchExclusions() {
            try {
                const url = web_app_url ? `${web_app_url}/instances/${id}/exclude` : `/instances/${id}/exclude`;
                const response = await fetch(url);
                const data = await response.json();
                exclusions = data.exclusions;
            } catch (error) {
                console.error('Error fetching exclusions from web app:', error);
            }
        }

        async function fetchNotifications() {
            try {
                const url = web_app_url ? `${web_app_url}/instances/${id}/notifications` : `/instances/${id}/notifications`;
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(3),
                });
                const data = await response.json();
                const latest_notif = (notifications.length > 0) ? notifications[0].time_stamp : 0;
                notifications = data;
            } catch (error) {
                console.error('Error fetching notifications:', error);
            }
        }

        async function fetchCurrentTime() {
            try {
                const url = web_app_url ? `${web_app_url}/current_time` : `/current_time`;
                const response = await fetch(url);
                const data = await response.json();
                current_time = data.current_time;
                start = Date.now();
            } catch (error) {
                console.error('Error fetching current time:', error);
            }
        }

        async function fetchEndTime() {
            try {
                const url = web_app_url ? `${web_app_url}/instances/${id}/end_time` : `/instances/${id}/end_time`;
                const response = await fetch(url);
                const data = await response.json();
                end_time = data.end_time;
            } catch (error) {
                console.error('Error fetching countdown end time:', error);
            }
        }

        async function fetchStatus() {
            try {
                url = web_app_url ? `${web_app_url}/instances/${id}/status` : `/instances/${id}/status`;
                const response = await fetch(url);
                const data = await response.json();
                run_status = data.status;
            } catch (error) {
                console.error('Error fetching status:', error);
            }
        }

        async function setEndTime(minutes) {
            try {
                const url = web_app_url ? `${web_app_url}/instances/${id}/end_time` : `/instances/${id}/end_time`;
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        time: minutes
                    })
                });
                if (response.ok) {
                    const data = await response.json();
                    end_time = data.end_time;
                }
            } catch (error) {
                console.error('Error setting end time:', error);
            }
        }

        async function setExclusion(item, action) {
            try {
                const url = web_app_url ? `${web_app_url}/instances/${id}/exclude` : `/instances/${id}/exclude`;
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        action: action,
                        item: item
                    })
                });
                if (response.ok) {
                    const data = await response.json();
                    exclusions = data.exclusions;
                }
            } catch (error) {
                console.error('Error updating exclusion:', error);
            }
        }

        async function shutdown() {
            try {
                const url = `/instance_action`;
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        action: "stop",
                        id: id
                    })
                });
            } catch (error) {
                console.error('Error shutting down instance:', error);
            }
        }

        if (id) {
            document.getElementById("instance_id").textContent = id;
            document.getElementById("home").style.display = "none";
            document.getElementById("control").style.display = "block";
        }

        function fetchAll() {
            if (!id) return;
            fetchEndTime();
            fetchStatus();
            // fetchNotifications();
            fetchExclusions();
        }

        setInterval(fetchAll, 1000);

        function get_hms(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const secs = Math.floor(seconds % 60);
            return {hours, minutes, seconds: secs};
        }

        function updateNotifications() {
            let currentIndex = 0;
            while (currentIndex < notifications.length) {
                const now = Date.now();

                const notif = notifications[currentIndex];

                const age = current_time - notif.time_stamp + (now - start) / 1000;
                const days = Math.floor(age / 86400);
                if (days > 7) {
                    currentIndex++;
                    continue;
                }
                const hours = Math.floor((age % 86400) / 3600);
                const minutes = Math.floor((age % 3600) / 60);
                const seconds = Math.floor(age % 60);
                const time_array = [days, hours, minutes, seconds];
                let time_index = 0;
                while (time_index < time_array.length-1 && time_array[time_index]===0) {
                    time_index++;
                }
                const time_string = time_array[time_index] + time_labels[time_index];

                if (document.getElementById(`notif_${currentIndex}`)) {
                    document.getElementById(`notif_${currentIndex}`).innerHTML = `
                    <div class="notif">
                        <div class="notif_data">${notif.data}</div>
                        <div class="notif_age">${time_string}</div>
                    </div>
                    `;
                } else {
                    const notifDiv = document.createElement("div");
                    notifDiv.className = "notification";
                    notifDiv.id = `notif_${currentIndex}`;
                    notifDiv.innerHTML = `
                    <div class="notif">
                        <div class="notif_data">${notif.data}</div>
                        <div class="notif_age">${time_string}</div>
                    </div>
                    `;

                    document.getElementById("notifications").appendChild(notifDiv);
                }

                currentIndex++;
            }
        }
        
        function updateLastChecked() {
            const now = Date.now();
            let last_checked_string = "";
            if (typeof run_status === "number") {
                const age = Math.max(0, current_time - run_status + (now - start) / 1000);
                const days = Math.floor(age / 86400);
                if (days < 7) {
                    const {hours, minutes, seconds} = get_hms(age);
                    const time_array = [days, hours, minutes, seconds];
                    let time_index = 0;
                    while (time_index < time_array.length-1 && time_array[time_index]===0) {
                        time_index++;
                    }
                    last_checked_string = `Checked ${time_array[time_index] + time_labels[time_index]} ago`;
                }
            } else if (run_status == "now") {
                last_checked_string = `Checking now`;
            } else if (run_status == "error") {
                last_checked_string = ``;
            }
            document.getElementById('run_status').innerText = last_checked_string;
        }

        function updateCountdown() {
            const now = Date.now();
            const total_time_left = end_time - current_time;
            const time_left = Math.max(0, total_time_left - (now - start) / 1000);

            if (run_status == "error") {
                document.getElementById('countdown_title').innerText = `Error!`;
                document.getElementById('countdown_time').innerText = ``;
                document.getElementById('left_padding').innerText = ``;
                document.getElementById('right_padding').innerText = ``;
            } else if (time_left > 0) {
                const {hours, minutes, seconds} = get_hms(time_left);
                const time_array = [hours, minutes, seconds];
                let time_index = 0;
                while (time_index < time_array.length-2 && time_array[time_index] === 0) {
                    time_index++;
                }
                let time_string = "";
                if (time_array[time_index] !== 0) {
                    time_string = `${time_array[time_index] + time_labels[time_index+1]} ${time_array[time_index+1] + time_labels[time_index+2]}`;
                } else {
                    time_string = `${time_array[time_index+1] + time_labels[time_index+2]}`;
                }

                document.getElementById('countdown_title').innerText = `Paused:`;
                document.getElementById('countdown_time').innerText = ` ${time_string}`;
                document.getElementById('left_padding').innerText = ``;
                document.getElementById('right_padding').innerText = ``;
            } else {
                const num_dots = Math.floor((now / 500) % 4);
                const dots = '.'.repeat(num_dots);
                const padding_dots = '.'.repeat(3 - num_dots);

                document.getElementById('countdown_title').innerText = `Running`;
                document.getElementById('countdown_time').innerText = dots;
                document.getElementById('left_padding').innerText = `...`;
                document.getElementById('right_padding').innerText = padding_dots;
            }
        }

        function initExclusions() {
            const exclusion_form = document.querySelector(".exclusions-form");
            exclusion_options.forEach((option_desc, option_name) => {
                let button = document.createElement("button");
                button.className = "exclusion";
                button.name = "exclude";
                button.type = "submit";
                let value = option_name.toLowerCase().replaceAll(" ", "_");
                button.value = value;
                button.innerText = option_name;
                if (exclusions.includes(value)) {
                    button.classList.add("active");
                    button.title = option_desc[1];
                } else {
                    button.classList.add("inactive");
                    button.title = option_desc[0];
                }
                exclusion_form.appendChild(button);
            });
        }

        function updateExclusions() {
            document.querySelectorAll(".exclusion").forEach(button => {
                let name = button.value;
                if (exclusions.includes(name)) {
                    button.classList.remove("inactive");
                    button.classList.add("active");
                    button.title = exclusion_options.get(button.innerText)[1];
                } else {
                    button.classList.remove("active");
                    button.classList.add("inactive");
                    button.title = exclusion_options.get(button.innerText)[0];
                }
            });
        }

        function updateAll() {
            updateCountdown();
            updateLastChecked();
            // updateNotifications();
            updateExclusions();
            requestAnimationFrame(updateAll);
        }

        initExclusions();
        updateAll();

        window.addEventListener(
            "keydown",
            (event) => {
                if (event.key === "Escape") {
                    event.preventDefault();
                    event.stopPropagation();
                    window.location.href = "/";
                }
            },
            true
        );

        document.getElementsByName("custom_time").forEach(input => {
            input.addEventListener('input', () => {
                input.value = input.value.replace(/\D/g, '');
            });
        });

        document.querySelectorAll("form").forEach(form => {
            form.addEventListener("submit", async (e) => {
                e.preventDefault();
                
                const submitter = e.submitter;
                const formData = new FormData(form);

                if (submitter.name === "id") {
                    const valid = await setID(formData.get("id"));
                    if (!valid) return;
                    fetchCurrentTime();
                    fetchEndTime();
                    fetchStatus();
                    // fetchNotifications();
                    fetchExclusions();
                    document.getElementById("instance_id").textContent = id;
                    document.getElementById("home").style.display = "none";
                    document.getElementById("control").style.display = "block";
                } else if (submitter.name === "time") {
                    setEndTime(submitter.value);
                    fetchCurrentTime();
                } else if (submitter.name === "custom_time") {
                    setEndTime(formData.get("custom_time"));
                    fetchCurrentTime();
                } else if (submitter.name === "exclude") {
                    let action;
                    if (submitter.classList.contains("active")) {
                        submitter.classList.remove("active");
                        submitter.classList.add("inactive");
                        action = "remove";
                    } else {
                        submitter.classList.remove("inactive");
                        submitter.classList.add("active");
                        action = "add";
                    }
                    setExclusion(submitter.value, action);
                } else if (submitter.name === "shutdown") {
                    await shutdown();
                    window.location.href = "/";
                }

                form.reset();
            });
        });
    </script>
</body>
</html>
